.bg{
    display: flex;
    height: 913px;
	background-image: url(https://data.1freewallpapers.com/download/3d-technology-digital-art-purple-color-4k-abstract.jpg);
	background-blend-mode: multiply;
    background-color: #2e3a44;
    justify-content: center;
  }

.text{
    margin-top: 200px;
    color: white;
    font-size: 5em;
  }